
.dashboardBuySell {
  color: var(--primary-text-clr);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.6em;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.6em;
  width: 100%;

  font-size: 0.8rem;
}