
.tableBodyRow {
      &:last-of-type {
        border-bottom: 1px solid var(--_background);
      }
      .tableBodyRowItem {
        padding-block: 0.125em;
        &:not(:first-of-type) { border-left: 1px solid var(--_background); }
        &:nth-of-type(2) { padding-left: 0.25em; }
        &:not(:nth-of-type(2)) { text-align: center; }
      }
      &.calculation {
        border-top: 1px solid var(--_background);
        text-align: center;
      }
      .tableBodyRowItemInput {
        color: var(--primary-font-clr-dark);
        width: 4em;
        margin: 0;
        padding: 0;
        border: 1px solid lightcoral;
        border-radius: 0;
        caret-color: var(--primary-font-clr-dark);

        &::placeholder {
          color: lightcoral;
        }

        &:focus {
          border-color: var(--accent-clr);
          &::placeholder {
            color: var(--accent-clr);
          }
        }

        &:not(:placeholder-shown) {
          border-color: lightgray;
        }
      }
    }