.exchangeListContainer {
  background-color: var(--bg-clr-2);
  border: var(--border-400);
  border-radius: var(--border-radius, 12px);
  box-shadow: var(--box-shadow);

  transition: border-color 0.2s ease;

  &:hover {
    border-color: var(--accent-clr-300);
  }

  .heading {
    background-color: transparent;
    color: var(--primary-text-clr);
    font-size: 1.2rem;
    font-weight: 600;

    text-align: center;
    padding-block: 0.125em;
    cursor: pointer;
  }

  .list {
    color: var(--primary-text-clr);
    font-size: 1rem;

    padding-inline: 0.25em;
    border-radius: var(--border-radius);
  }
}

.active {
  border-color: var(--accent-clr-400);
  background-color: var(--accent-clr-400);

  .heading {
    color: white;
  }

  .list {
    background-color: var(--bg-clr-2);
    border-color: transparent;
    box-shadow: inset 0 0 0 2px var(--accent-clr-400);
  }
}
