.employee_box{
    height: 80%;
    width: 20%;
    min-width: 200px;

    border: none;
    border-radius: 8px;
    box-shadow: 2px 5px 15px rgba(0 ,0 , 0 , 0.3);



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 15px;

    background-color: #eef2f7;

}

.employee_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_box{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

    transition: transform 0.3s ease-in-out;
}

.img_box:hover{
    transform: scale(2);
    aspect-ratio: 0;
    border-radius: 0;

}
.empInfo_box{
    width: 100%;
    line-height: 0;


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-wrap: break-word;
    word-wrap: break-word;

}

.empButton_container{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.edit_btn , .remove_btn{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60%;
    width: 40%;

    border: none;
    color: white;
    border-radius: 6px;

    transition: background-color 0.5s ease, transform 0.5s ease;
}

.edit_btn:hover{
    background-color: #456b10;
    cursor: pointer;

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.remove_btn:hover{
    background-color: darkred;
    cursor: pointer;

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.remove_btn{
    background-color: red;
}

.edit_btn{
    background-color: #79B524;
}

@media (max-width:500px){
    .employee_box{
        min-width: 150px;
    }
}