
.modal {
  color: var(--primary-text-clr);
  padding: 1em;
  max-width: 50ch;
  margin: auto;

  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1);

  & > * {
    margin: 0 0 0.25em 0;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 0.4);
  }

  /* inside the modal */

  .topSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand {
      font-size: 1.25rem;
      font-weight: 500;
    }

    .cancelBtn {
      font-size: 1.125rem;
      color: red;
      font-weight: 600;
      width: 2rem;
      height: 2rem;
      border: none;
      border-radius: 50%;
    }
  }

  .subTopSection {
    display: flex;
    align-items: center;
    margin-block-end: 1.5em;

    padding-inline-start: 0.5em;
    
    .modelName {
      font-size: 1rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
    .formGroup {
      display: flex;
      align-items: center;
      gap: 0.5em;

      position: relative;

      select {
        min-inline-size: 9ch;
        
        &, &::picker(select) {
          appearance: base-select;
          background-color: hsl(206, 50%, 90%);
          padding: 0.125em 0.5em;
          border-radius: var(--border-radius);
        }
        
        &::picker(select) {
          margin-block-start: 0.25em;  
        }
      }

      option {
        padding: 0.125em 0.25em;
        border-radius: var(--border-radius);

        &:focus {
          outline: none;
          background-color: hsl(206, 49%, 80%);
        }
      }

      input[type=number] {
        color: var(--primary-text-clr);
        background-color: hsl(0, 0%, 95%);
        
        flex-grow: 1;
        padding-inline: 0.25em;
        
        border: var(--border-400);
        border-radius: var(--border-radius);


        &:focus {
          outline-color: hsl(0, 0%, 75%);
        }
      }

      /* Remove arrows in Chrome, Safari, Edge, Opera */
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Remove arrows in Firefox */
      input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
      }
      
      .priceInput:read-only {
        border-color: transparent;
        cursor: default;
        pointer-events: none;
      }

      .priceInputTaka {
        color: #888;
        font-size: 1rem;
        
        position: absolute;
        right: 2.5em;
        pointer-events: none;
      }

      & > svg {
        width: 1.25rem;
        cursor: pointer;
      }
    }

    .submitBtn {
      color: white;
      font-weight: 600;
      background-color: var(--accent-clr-400);
      
      border: none;
      border-radius: var(--border-radius);
      padding: 0.25em;
      margin-block: 1em 0;

      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: var(--accent-clr-300);
      }
    }
    
    /* input[type=radio] {
      appearance: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      border: 2px solid #999;
    }
  
    input[type=radio]:checked {
      border: 6px solid var(--accent-clr-400);
    } */

  }
}