
.cashBoxDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title { font-weight: 600; }

.cashAmount { font-weight: 600; }
.amount { font-weight: 700; }
    
.amount_blue { color: steelblue; }  /* hsl(220, 78%, 46%) */
.amount_red { color: lightcoral; }  /* hsl(3, 63%, 60%) */
.amount_green { color:mediumseagreen; }  /* hsl(124, 34%, 50%) */


.center { align-items: center; }