.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 1em;
}

.titleSubmit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.625em;
  position: relative;
}

.selectCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.625em;
}

.title {
  color: var(--primary-font-clr-dark);
  font-size: 1.5rem;
  font-weight: 700;
}

.counter {
  color: var(--primary-font-clr-dark);
  font-size: 1.125rem;
  font-weight: 700;
}

.submitBtn:disabled::after {
  content: attr(data-tool-tip);
  font-weight: 500;
  display: block;
  position: absolute;
  bottom: 5%;
  right: -5%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px 10px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms,
              bottom ease-out 150ms,
              right ease-out 150ms ;
  z-index: 1;
  pointer-events: none;
}

.submitBtn:disabled:hover::after {
  bottom: 80%;
  right: 0%;
  transform: scale(1);
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* exactly 8 cards per row */
  font-size: 1rem;
  gap: 1.5em;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 680px) {
  .titleSubmit {
    padding: 0;
  }
  
  .selectCount {
    padding: 0;
  }
  
  .title {
    font-size: 1.125rem;
  }
  
  .counter {
    font-size: 1rem;
  }
  
  .listContainer {
    font-size: 0.5rem;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row on small screens */
  }
}
.submitBtn {
  background-color: #5ca95e; /* green */
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
   margin-top: 25px
}

.submitBtn:hover:not(:disabled) {
  background-color: #45a049;
  transform: translateY(-2px);
}

.submitBtn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* Optional Tooltip on Hover */

.selectCount button {
  background-color: #297abc; /* blue */
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-right: 10px;
}



.selectCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.counter {
  font-size: 14px;
  color: #555;
}
