
.exchangeTopSection {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.navButtons {
  border: var(--border-300);
  border-radius: var(--border-radius);

  padding: 0.5em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;


  .btn {
    color: var(--primary-text-clr);
    font-weight: 600;
    text-decoration: none;

    border: none;
    background-color: transparent;
  }
}

.shopInfo {
  padding-inline: 1em;

  .shopName {
    color: var(--primary-text-clr);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: underline;
  }  
}