.mother_container{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    height: 600px;
    width: 950px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.07);

    background-image: url('img.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}
.logo{
    height: 50px;
    width: 120px;
    z-index: 20;

    left: 120px;
}
.blur_box{
    height: 600px;
    width: 950px;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
.slideBox{
    height: 600px;
    width: 350px;
    position: absolute;
    z-index: 3;
    color: white;

    border-radius: 10px;
    border: 1px solid rgba(255 , 255 , 255 , 0.3);

    transition: left 2s ease, top 2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.animate_box{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 0.6s ease forwards;
}
.fixBox{
    width: 600px;
    height: 600px;
    background-color: white;
    z-index: 2;

    position: absolute;

    transition: left 2s ease, top 2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left{
    left: 0;
}

.right{
    left: 600px;
}

.fleft{
    left: 0;
}
.fright{
    left: 350px;
}

.left_side{
    text-align: center;
}
.left_side h2{
    font-weight: bold;
    font-size: 40px;

    margin: 10px;

}
.right_side{
    text-align: center;
}
.right_side h2{
    font-weight: bold;
    font-size: 40px;

    margin: 10px;
}
.button {
    padding: 10px 20px;
    width: 200px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    margin-top: 5px;

    transition: 0.5s ease;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.reg{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 960px){
    .main_container{
        height: 750px;
        width: 450px;

        background-image: url('smallScreen_img.png');
    }

    .blur_box{
        height: 750px;
        width: 450px;
        backdrop-filter: blur(4px);
    }

    .slideBox{
        height: 150px;
        width: 450px;
        position: absolute;

    }
    .fixBox{
        width: 450px;
    }
    .left{
        top: 600px;
    }
    .right{
        top: 0;

        left: 0;
    }

    .fleft{
        top: 150px;
    }

    .fright{
        top: 0;
        left: 0;
    }
}
/*for phone layout*/

@media (max-width: 400px){
    .main_container{
        height: 750px;
        width: 350px;

        background-image: url('smallScreen_img.png');
    }

    .blur_box{
        height: 750px;
        width: 350px;
        backdrop-filter: blur(4px);
    }

    .slideBox{
        height: 150px;
        width: 350px;
        position: absolute;

    }
    .fixBox{
        width: 350px;
    }
    .left{
        top: 600px;
    }
    .right{
        top: 0;

        left: 0;
    }

    .fleft{
        top: 150px;
    }

    .fright{
        top: 0;

        left: 0;
    }
}