.masonryGrid {
    display: flex;
    margin-left: -16px; /* gutter size offset */
    width: auto;
}

.masonryColumn {
    padding-left: 16px;
    background-clip: padding-box;
}

.imageItem {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.imageItem:hover {
    transform: scale(1.05);
}
