.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #6049E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    box-shadow: 0 5px 5px rgba(0 , 0 , 0 , 0.2);
    z-index: 1000;
}

.logo {
    height: 100%;
    width: 10%;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo img{
    scale: 0.32;
}
.navItems{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 50px;

}

.navItems li a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
    color: white;
}

.navItems li a:hover{
    color: #bfb6ff;
}


.loginBtn{
    height: 100%;
    width: 10%;
    min-width: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loginBtn button{
    background: transparent;
    border: 2px solid white;
    padding: 6px 16px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.loginBtn button:hover {
    background-color: white;
    color: #6049e7;
}


@media(max-width:700px){
    .navItems{
        gap: 10px;
    }

    .logo img{
        max-width: 240px;
        margin-left: -15px;
    }

    .navItems{
        font-size: 15px;
    }

}