
.exchangeSlider {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  overscroll-behavior-inline: contain;
  margin-top: auto;
  
  gap: 0.5em;
  padding: 0.25em;

  overflow-x: auto;
  overflow-y: hidden;
}

.exchangeSlider::-webkit-scrollbar,
.itemList::-webkit-scrollbar {
  height: .4rem;
  width: .3rem;
}

.exchangeSlider::-webkit-scrollbar-track,
.itemList::-webkit-scrollbar-track {
  background-color: hsl(215, 20%, 90%);
  border-radius: 15px;
  margin: 0.125rem 0.5rem;
}

.exchangeSlider::-webkit-scrollbar-thumb,
.itemList::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: hsl(215, 20%, 60%);
}

.exchangeSlider::-webkit-scrollbar-thumb:hover,
.itemList::-webkit-scrollbar-thumb:hover {
  background-color: hsl(215, 20%, 50%);
}