.headerContainer {
  background-color: var(--bg-clr-2);
  margin-block-end: 1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0;
}