
.exchangeBottomSection {
  color: var(--primary-text-clr);
  display: grid;
  grid-template-columns: 7rem auto;
  gap: 1em;

  overflow-x: auto;
  overflow-y: hidden;

  margin-block-start: 1rem;
}

.regulatorStove {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-block: 1em;
  gap: 0.5em;

  
  padding-inline: 0.5em;
  text-align: center;

  > * {
    background-color: var(--bg-clr-2);
    border-radius: var(--border-radius);
    border: var(--border-300);
    padding: 0.5em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}