
.cashBoxDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* border: var(--border); */
  /* border-radius: var(--border-radius); */
  /* box-shadow: var(--box-shadow); */
  padding: 0.5em;

  /* width: 12em; */
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.cashAmount {
  font-size: 0.8rem;
}

.center {
  align-items: center;
}